<% provide(:title, "Contato") %>
<h1>Contato</h1>
<p>
	<ul>
		<li><strong>Nome: </strong>Pablo Campos</li>
		<li><strong>Email: </strong>pablo.santos@arapiraca.ufal.br</li>
		<li><strong>Telefone: </strong>99999-8787</li>
	</ul>
</p>