<% provide(:title, "Início") %>


<h1>Terceiro App</h1>
	<h1> Terceiro APP </h1>
	<p> Este é o terceiro aplicativo Rails da disciplina
	<strong> Desenvolvimento de Software para a WEB II </strong>
	do curso de Sistemas de Informação em 
	<a href="http://ufal.edu.br/arapiraca/unidades-de-ensino/penedo">
		Penedo
	</a></p>
